body {
  margin: 0;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-form-wrapper {
  width: 100%;
  display: flex;
}

.search-form {
  width: 100%;
}

.search-form__query {
  width: 100%;
}

.search-form__location_and_fulltime {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-form__location {
  width: 200px;
}

.check-fulltime {
  width: 200px;
}

.vacancy__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vacancy__company_wrapper {
  display: flex;
  align-items: center;
}

.vacancy__company_name {
  font-size: 16px;
  cursor: pointer;
}

.vacancy__logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.vacancy__favourites {
  cursor: pointer;
  width: 120px;
  margin-top: 30px;
  padding: 5px 10px 5px 10px;
  background-color: #21A038;
  color: white;
  border-radius: 10px;
  text-align: center;
}

.vacancy__description {
  display: block;
  margin-bottom: 5px;
}

.description-text__hidden {
  overflow: hidden;
  height: 45px;
}

.description__button_hidden {
  margin: 0px;
  cursor: pointer;
  color: blue;
}


